table th {
	text-align: center;
}

div.error {
	background-color: #f2dede;
	border: 1px solid #f28888;
	border-radius: 5px;
	box-shadow: 0 0 8px rgba(255,0,0,0.5);
	margin: 10px;
	padding: 10px;
	display: inline-block;
	color: #a94442;
}

div.login_line {
	position: relative;
	float: right;
}

div.solution_code .CodeMirror {
	height: auto;
}

div.comment, div#epiceditor {
	border: 1px #cccccc solid;
	box-shadow: 0 0 6px rgba(150,150,150,0.5);
	padding: 5px;
	margin: 5px 0px;
}

div.comment.teacher {
	background-color: #F9D0AD;
	border: 1px orange solid;
}

div.comment span.author {
	display: block;
	border-bottom: 1px #cccccc solid;
	border-bottom-color: inherit;
}

div.comment span.date {
	float: right;
	color: #777777;
}

table.tasklist tr.missed { opacity: 0.6; }
table.tasklist tr.missed.not_submitted { background-color: red; color: #dddddd; }

table.tasklist tr.full_points, table.solutions tr.full_points { background-color: #88FF56 }
table.tasklist tr.part_points, table.solutions tr.part_points { background-color: #C5FAAF }

table.solutions tr.waiting { background-color: #FCB675; }
